.result-page {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
}

.resultpagecontents {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-rows: 8vh 6vh auto;
    position: relative;
    z-index: 100;
}

.resultheader {
    grid-row: 1;
    width: 100%;
}

.resultsearchbar {
    box-sizing: border-box;
    border: 2px solid #3f72af;
    grid-row: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.resultsearchinput {
    box-sizing: inherit;
    width: 75%;
    height: 100%;
    background-color: white;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-content: center;
    padding-left: 10px;
}

.resultbackbutton {
    box-sizing: inherit;
    width: 25%;
    height: 100%;
}