.flea-product-container {
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    overflow-x: auto;
}

.product-card {
    display: grid;
    max-width: 200px;
    grid-template-rows: 3fr 1fr 0.5fr;
}

/* 이미지 영역 */
.image-container {
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    background: #f8f9fa;
    border: 2px solid #3f72af;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* 상품 정보 영역 */
.product-details {
    padding: 12px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-name {
    font-size: 0.95em; /* 작은 화면용 폰트 크기 */
    margin-bottom: 8px;
    -webkit-line-clamp: 2;
}

.product-price {
    font-size: 1.1em;
    color: #e44d26;
    font-weight: 600;
}

/* 버튼 사이즈 조정 */
.add-cart-btn {
    padding: 10px;
    font-size: 0.9em;
}

/* 반응형 처리 */
@media (max-width: 850px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr); /* 2열 배치 */
    }
}

@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr; /* 1열 배치 */
    }

    .image-container {
        height: 160px;
    }
}
