.searchbynurtritioncontents {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 8vh 92vh;
}

.nutritionheader {
    grid-row: 1;
    position: relative;
    z-index: 200;
}

.nutritionScroll {
    grid-row: 2;
}