/* 부모 요소 */
.container {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
}

/* 전체 SearchBar 스타일 */
.search-bar {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    z-index: 1;
}

/* 검색창 컨테이너 */
.search-bar-input-container {
    width: 80%; /* 검색창이 전체 너비를 너무 차지하지 않도록 설정 */
    max-width: 600px; /* 최대 크기 제한 */
    display: flex;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
    
}

/* 검색창 input 스타일 */
.search-input {
    width: 100%; /* 입력 필드가 검색창 컨테이너에 맞도록 설정 */
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 30px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}
