.searchbar {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 99;
}

/* 검색 입력창 스타일 */
.search-input-searchpage {
    width: 100%; /* 가로 비율 설정 */
    height: 100%; /* 부모 높이에 맞춤 */
    font-size: 16px;
    border: 2px solid #3f72af;
    outline: none;
    border-radius: 5px;
    padding-left: 10px; /* 입력창 내부 여백 */
}



.search-input-mainpage {
    width: 85%;
    height: 85%;
    overflow: hidden;
    font-size: 16px;
    border: 3px solid #3f72af;
    outline: none;
    border-radius: 30px;
    background-color: white;
    box-sizing: border-box;
    padding-left: 40px; /* 버튼과의 간격 확보 */
}
