.search-dropdown-list {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;

}

.search-dropdown-list ul {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: left;
    padding-left: 0;
    margin-top: 0;
    list-style-type: none;;
    border: 3px solid #3f72af;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-dropdown-list ul li {
    min-height: 30px;
}