.kiosk {
    display: grid;
    height: 100vh; /* 화면 전체 높이 */
    grid-template-rows: auto auto auto auto auto;
    place-items: center; /* 모든 자식 요소를 가로와 세로 중앙 정렬 */
}

.headercontainer1 {
    grid-row: 1;
}

.barcode_image {
    grid-row: 2; /* 첫 번째 행에 배치 */
    margin-top: 100px; /* 위쪽 여백 */
}

.instructions {
    grid-row: 3; /* 두 번째 행에 배치 */
    width: 1600px;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

.start_button {
    grid-row: 4; /* 세 번째 행에 배치 */
    background-color: #4a90e2;
    width: 600px;
    height: 250px;
    color: white;
    border: none;
    font-size: 120px;
    border-radius: 120px;
    cursor: pointer;
}

.description {
    grid-row: 5;
}
