.kioskmainscreen {
    display: grid;
    height: 100vh; /* 화면 전체 높이 */
    grid-template-rows: 200px 150px 100px 1310px auto; /* 마지막 행은 유연하게 조정 가능 */
    grid-template-areas:
        "header"
        "notice"
        "kiosklist"
        "cartpage"
        "scanner";
    place-items: center; /* 모든 자식 요소를 가로와 세로 중앙 정렬 */
}

.mainscreencontainer {
    grid-area: header; /* 첫 번째 행 */
}

.mainscreennotice {
    grid-area: notice; /* 두 번째 행 */
    width: 1600px;
    height: 150px;
    font-size: 110px;
    font-weight: bold;
    text-align: center;
}

.mainscreenkiosklist {
    grid-area: kiosklist; /* 세 번째 행 */
}

.mainscreeencartpage {
    grid-area: cartpage; /* 네 번째 행 */
    width: 1600px;
}

.barcodebuttoncontainer {
    grid-area: scanner;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainscreenbarcodescanner {
    width: 800px;
    border: black solid 1px;
}

.buttonzone {
    grid-area: scanner;
    width: 800px;
    height: 800px;
    background-color: white;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.mainscreenpayment {
    width: 700px;
    font-size: 70px;
    border-radius: 8px;
    background-color: red;
}

.mainscreentohome {
    width: 700px;
    font-size: 70px;
    border-radius: 8px;
}