.kioskmainscreen {
    display: grid;
    max-width: 800px;
    width: 100%;
    height: 100%;
    grid-template-rows: 38vh 38vh 20vh;
    grid-template-areas:
        "cartpage"
        "kioskpleaproductlist"
        "scanner";
    place-items: center;
    background-color: #e9ecef;
}


.mainscreennotice button {
    width: 20%;
    height: 100%;
    font-size: 20px;
    border-radius: 1px;
}

.mainscreencartpage {
    box-sizing: border-box;
    grid-area: cartpage;
    width: 95%;
    height: 95%;
    margin-top: 2vh;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.kioskpleaproductlist {
    box-sizing: border-box;
    grid-area: kioskpleaproductlist;
    width: 95%;
    height: 95%;
    margin-top: 2vh;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);}

.barcodebuttoncontainer {
    margin-top: 45px;
    grid-area: scanner;
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainscreenbarcodescanner {
    box-sizing: border-box;
    width: 40%;
}

.buttonzone {
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    gap: 15px;
    place-items: center;
}

.cartpagetotal {
    grid-row: 1;
    align-items: center;
    width: 95%;
    height: 26%;
    text-align: left;
    font-size: 40px;
    margin-right: 5%;
    color: black;
}

.mainscreenpayment {
    grid-row: 2;
    width: 100%;
    height: 100%;
    font-size: 40px;
    border-radius: 5px;
}

.mainscreentohome {
    grid-row: 3;
    width: 100%;
    height: 100%;
    font-size: 40px;
    border-radius: 5px;
}


.mainscreenpayment {
    background-color: #4a90e2;
}

.mainscreentohome {
    background-color: #cccccc;
}

/* 쿠폰 확인 팝업 스타일 */
.coupon-prompt-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.coupon-prompt-content {
    width: 60%;
    height: 50%;
    background: white;
    border-radius: 10px;
    text-align: center;
    display: grid;
    place-items: center;
    grid-template-rows: 4fr 1fr;
    font-size: 35px;
}

.coupon-prompt-buttons{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.coupon-prompt-buttons button {
    width: 160px;
    height: 70px;
    font-size: 20px;

}
