.kioskmainscreen {
    display: grid;
    max-width: 800px;
    width: 100%;
    height: 100%;
    grid-template-rows: 6vh 37vh 37vh 20vh;
    grid-template-areas:
        "notice"
        "cartpage"
        "kioskpleaproductlist"
        "scanner";
    place-items: center;
}


.mainscreennotice {
    grid-area: notice;
    width: 100%;
    height: 100%;
    font-size: 60px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.mainscreennotice button {
    width: 20%;
    height: 100%;
    font-size: 20px;
    border-radius: 1px;
}

.mainscreencartpage {
    grid-area: cartpage;
    width: 100%;
    height: 100%;
}

.kioskpleaproductlist {
    grid-area: kioskpleaproductlist;
    width: 100%;
    height: 100%;
}

.barcodebuttoncontainer {
    border-top: 2px solid black;
    position: fixed;
    bottom: 0;
    grid-area: scanner;
    width: 95%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainscreenbarcodescanner {
    width: 40%;
}

.buttonzone {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 8%;
}

.cartpagetotal {
    display: grid;
    align-items: center;
    width: 95%;
    height: 26%;
    text-align: left;
    font-size: 40px;
    margin-right: 5%;
    color: black;
}

.mainscreenpayment,
.mainscreentohome {
    width: 80%;
    height: 25%;
    font-size: 2vw;
    border-radius: 1vw;
}

.mainscreenpayment {
    background-color: #ff4444;
}

.mainscreentohome {
    background-color: #cccccc;
}
