.searchpagedom {
    display: grid;
    width: 100%;
    height: 100vh;
    place-items: center;
    grid-template-rows: 64px 150px 50px 536px ;
    grid-template-areas:
    "detailheader"
    "photoinfo"
    "storedetailnavbar"
    "storedetailinfo";
}

.storedetailheadercontainer {
    grid-area: detailheader;
    width: 100%;
}


.storedetailphotoinfo {
    grid-area: photoinfo;
    width : 360px;
    height : 150px;

    display: grid;
    grid-template-columns: 150px 210px;

}

.market-image {
    grid-column: 1;
    width: 150px;
    height: 150px;
    background-color: #4a90e2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.market-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.market-detail {
    grid-column: 2;
    width : 210px;
    height : 150px;
    text-align : left;

    display: grid;
    grid-template-rows: 50px 50px 50px;
}

.market-name {
    grid-row: 1;
    width: 100%;
    max-height: 50px;
    overflow: hidden;
}

.market-location {
    grid-row: 2;
    width: 100%;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.storedetail-btnlist {
    grid-row: 3;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.requestbtn {
    width: 50%;
}

.flearequestbtn {
    width: 50%;
}

.storedetailnavbar {
    grid-area: storedetailnavbar;
    width: 360px;
    height: 50px;
}

.storedetailmarketinfo {
    grid-area: storedetailinfo;
    width: 100%;
    height: 532px;
    max-height: 100%;
}

.storedetailul {
    max-width: 100%;
    max-height: 100%;
}

.storedetailitemimage {
    width: 50px;
    height: 50px;
}