.kiosklist {
    display: grid;
    width: 1600px;
    height: 100px;
    background-color: #ebf0fa;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    grid-auto-columns: 600px 550px 450px;
    place-items: center;
}

.text1 {
    grid-column : 1;
    color: black;
    font-size: 35px;
    font-weight: bold;
}

.text2 {
    grid-column: 2;
    color: black;
    font-size: 35px;
    font-weight: bold;
}

.text3 {
    grid-column: 3;
    color: black;
    font-size: 35px;
    font-weight: bold;
}