.searchpage {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 8vh 6vh auto auto;
}


.searchpageheader {
    grid-row: 1;
    width: 100%;
}

.searchpagesearchbar {
    position: relative;
    grid-row: 2;
    width: 100%;
    z-index: 100;
}

.searchpagedropdown {
    position: fixed;
    z-index: 101;
    width: 100%;
    top: 118px;
    left: 0;
}

.searchpagerecommend {
    grid-row: 3;
}

.searchpagenavbar {
    grid-row: 4;
}