.searchpage {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 8vh 6vh 6vh auto;
}



.searchpageheader {
    grid-row: 1;
    width: 100%;
    position: relative;
    z-index: 200;
}

.searchpagesearchbar {
    position: relative;
    grid-row: 2;
    width: 100%;
    z-index: 100;
}

.searchpagedropdown {
    box-sizing: border-box;
    position: fixed;
    z-index: 101;
    width: 100%;
}

.searchpagerecommend {
    grid-row: 4;
}

.searchpagenavbar {
    grid-row: 3;
}