.cartpagedom {
    display: grid;
    width: 1600px ;
    height: 910px ;
    grid-template-rows: 1100px 210px;
}

.cartpagelist {
    grid-row: 1;

}

.cartpageemptynotice {
    font-size: 140px;
}

.cartpagelist ul {
    list-style: none;
    margin: 0;
    display: grid;
    max-height: 910px;
    overflow-y: auto;
}

.cartpageli {
    width: 1500px;
    height: 100px;
    border: 3px solid #ddd;
    border-radius: 8px;
    background-color: lightgray;
    font-size: 40px;

    display: grid; /* Flexbox 활성화 */
    grid-template-columns: 500px 100px 600px 40px 200px 40px;
    place-items: center;
}

.cartpageli .itemname {
    grid-column: 1;
    width: 300px;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    overflow: hidden; /* 넘치는 텍스트 숨기기 */
    text-overflow: ellipsis; /* 말줄임표 처리 */
}

.cartpagedelete {
    grid-column: 2;
    width : 100px;
    height: 70px;
    font-size: 30px;
    font-weight: bold;

}

.eachitemtotal {
    grid-column: 3;
    width: 300px;
    font-size: 40px;
}

.cartpageplmi1 {
    grid-column: 4;
    width: 60px;
    font-size: 40px;
}

.carpageli .item.quantity {
    grid-column: 5;
    width: 100px;
}
.cartpageplmi2 {
    width: 60px;
    font-size: 40px;
}



